<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <base href="../../../../src/">
    <link rel="stylesheet" href="style/base.css">
    <link rel="shortcut icon" href="assets/main/图标.ico" />
    <title>QQHde博客</title>
    <style>
    </style>
</head>

<body>
    <!-- 头部 -->
    <div class="head c">
        <div class="c">
            <div class="head_l">
                <li><a href="../index.html"><img src="assets/main/home.png" alt="" width="30px">首页</a></li>
                <!-- &nbsp;&gt;<a href="views/education/education.html"><small>教育经历</small></a> -->
            </div>
            <div class="head_c">
                <h1>QQH <span>de</span> 博客</h1>
            </div>
            <div class="head_r">
                <img src="assets/main/user.png" alt="" width="30px" height="30px">
                <ul>
                    <li><a href="">登录</a></li>
                    <li><a href="">注册</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 页面主要区域 开始 -->
    <div id="index_main" class="c">
        <!-- 导航 -->
        <div class="nav">
            <a href=""><img src="assets/main/sign.JPG" alt="" id="sign"></a>
            <div class="nav_main">
                <ul>
                    <li><a href="views/myhobbise/hobbise.html">兴趣爱好</a></li>
                    <li><a href="views/myhobbise/reading/reading.html">阅读</a></li>
                    <li><a href="views/myhobbise/climb/climb.html">爬山</a></li>
                    <li class="hove"><a href="views/myhobbise/badminton/badminton.html">羽毛球</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div style="float: left; margin: auto; margin-top: 50px;">
                <img src="assets/myhobbise/badminton1.png" alt="" width="166px">
                <div style="float: right; display: inline-block; width: 600px; margin: 50px; margin-top: 0px;">
                    <em>打羽毛球的好处</em>
                    <br>第一，打羽毛球是一项强度较高的有氧运动，能够促进人体代谢，增强身体素质。打羽毛球能够增强心肺功能，强身健体；打羽毛球可以消耗身体脂肪，减肥塑形，提高代谢能力，使身体线条更加优美。
                    <br>第二，培养耐力和灵敏度。打羽毛球需要较高的爆发力和反应速度，这对于培养耐力和灵敏度是非常有益的。增强协调能力，打羽毛球需要协调身体各个部位的动作，能够增强协调能力。
                    <br>第三，打羽毛球可以缓解压力。打羽毛球能够释放压力，分泌多巴胺，促进快乐。
                    <br>第四，促进社交。打羽毛球可以结识志同道合的伙伴。
                </div>
            </div>
        </div>
    </div>
    <!--  -->


    <!-- 页脚 -->
    <div class="foot">
        <div class="foot_ c clear">
            <dl>
                <dt></dt>
                <dd>&copy; 2024 Gnnu QQH</dd>
                <dd>隐私政策</dd>
                <dd>服务条款</dd>
                <dd>联系信息：2664856683@qq.com</dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#">返回顶部</a></dd>
                <dd>技术支持</dd>
                <dd>帮助</dd>
                <dd>反馈与建议</dd>
            </dl>
        </div>
    </div>

    <script src=""></script>
</body>

</html>