<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <base href="../../../../src/">
    <link rel="stylesheet" href="style/base.css">
    <link rel="shortcut icon" href="assets/main/图标.ico" />
    <title>QQHde博客</title>
    <style>
        .imgs {
            float: right;
            width: 800px;
            margin-bottom: 80px;

            img {
                margin: 30px;
                width: 188px;
                border: 1px solid #000;
            }
        }
    </style>
</head>

<body>
    <!-- 头部 -->
    <div class="head c">
        <div class="c">
            <div class="head_l">
                <li><a href="../index.html"><img src="assets/main/home.png" alt="" width="30px">首页</a></li>
                <!-- &nbsp;&gt;<a href="views/education/education.html"><small>教育经历</small></a> -->
            </div>
            <div class="head_c">
                <h1>QQH <span>de</span> 博客</h1>
            </div>
            <div class="head_r">
                <img src="assets/main/user.png" alt="" width="30px" height="30px">
                <ul>
                    <li><a href="">登录</a></li>
                    <li><a href="">注册</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 页面主要区域 开始 -->
    <div id="index_main" class="c">
        <!-- 导航 -->
        <div class="nav">
            <a href=""><img src="assets/main/sign.JPG" alt="" id="sign"></a>
            <div class="nav_main">
                <ul>
                    <li><a href="views/myhobbise/hobbise.html">兴趣爱好</a></li>
                    <li><a href="views/myhobbise/reading/reading.html">阅读</a></li>
                    <li class="hove"><a href="views/myhobbise/climb/climb.html">爬山</a></li>
                    <li><a href="views/myhobbise/badminton/badminton.html">羽毛球</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div style="float: left; margin: 50px; width: 100px;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当你在风景秀丽、空气新鲜的山峦进行登攀时，可以使大脑皮层的兴奋和抑制过程得到改善，因而对情绪抑郁和失眠等都有良好的治疗作用。
            </div>
            <div class="imgs">
                <img src="assets/myhobbise/climb1.png" alt="">
                <img src="assets/myhobbise/climb2.png" alt="">
                <img src="assets/myhobbise/climb3.png" alt="">
                <img src="assets/myhobbise/climb4.png" alt="">
                <img src="assets/myhobbise/climb5.png" alt="">
                <img src="assets/myhobbise/climb6.png" alt="">
            </div>
        </div>
    </div>
    <!--  -->


    <!-- 页脚 -->
    <div class="foot">
        <div class="foot_ c clear">
            <dl>
                <dt></dt>
                <dd>&copy; 2024 Gnnu QQH</dd>
                <dd>隐私政策</dd>
                <dd>服务条款</dd>
                <dd>联系信息：2664856683@qq.com</dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#">返回顶部</a></dd>
                <dd>技术支持</dd>
                <dd>帮助</dd>
                <dd>反馈与建议</dd>
            </dl>
        </div>
    </div>

    <script src=""></script>
</body>

</html>