<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <base href="../../../src/">
    <link rel="stylesheet" href="style/base.css">
    <link rel="shortcut icon" href="assets/main/图标.ico" />
    <title>QQHde博客</title>
    <style>
    </style>
</head>

<body>
    <!-- 头部 -->
    <div class="head c">
        <div class="c">
            <div class="head_l">
                <li><a href="../index.html"><img src="assets/main/home.png" alt="" width="30px">首页</a></li>
                <!-- &nbsp;&gt;<a href="views/education/education.html"><small>教育经历</small></a> -->
            </div>
            <div class="head_c">
                <h1>QQH <span>de</span> 博客</h1>
            </div>
            <div class="head_r">
                <img src="assets/main/user.png" alt="" width="30px" height="30px">
                <ul>
                    <li><a href="">登录</a></li>
                    <li><a href="">注册</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 页面主要区域 开始 -->
    <div id="index_main" class="c">
        <!-- 导航 -->
        <div class="nav">
            <img src="assets/main/sign.JPG" alt="" id="sign">
            <div class="nav_main">
                <ul>
                    <li class="hove"><a href="views/myhobbise/hobbise.html">兴趣爱好</a></li>
                    <li><a href="views/myhobbise/reading/reading.html">阅读</a></li>
                    <li><a href="views/myhobbise/climb/climb.html">爬山</a></li>
                    <li><a href="views/myhobbise/badminton/badminton.html">羽毛球</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div style="width: 300px; font-size: 24px; color: #3b0606; float: left; margin: 30px;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;兴趣是个人力求接近、探索某种事物和从事某种活动的态度和倾向，亦称“爱好”，是个性倾向性的一种表现形式。兴趣在人的心理行为中具有重要作用。一个人对某事物感兴趣时，便对它产生特别的注意，对该事物观察敏锐、记忆牢固、思维活跃、情感深厚。
            </div>
            <div style="width: 400px; font-size: 15px; float: left; margin: 30px;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>兴趣是指个人对研究某种事物或从事某项活动积极的心理倾向性。是在社会生活实践中产生和发展起来的。兴趣作为一种意识倾向和内心要求，不是先天就有的，而是在人们需要的基础上，由于对某种事物的了解和反复接触后产生的；不是靠外界强制力量形成的，而是出于个人的强烈愿望建立和发展起来的。
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人们的兴趣对象，随着时代的进步和社会的发展而变化，并不断增多。人们的兴趣表现形式是多种多样的，一般有广泛和狭隘、短暂和持久之分。兴趣的内容也是多种多样的，就其性质而言，有正当的兴趣与不正当的兴趣、低级庸俗的兴趣与高雅积极的兴趣等差异。兴趣是引起和维持人的注意力的一个重要因素，对感兴趣的事物总是积极愉快地去探究和完成，不感到是种负担。因而成为人们探求未知和从事某种活动的一种精神动力，养成个性、品德和才能的先导和重要条件。兴趣受着社会历史条件的制约和人生观、道德观的支配。不同的时代、不同的社会、不同的阶级的人，会有不同的兴趣。
                </span>
            </div>
            <div style="width: 300px; font-size: 24px; color: #3b0606; float: left; margin-top: 30px;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;兴趣是人们认识和从事活动的强大动力。凡是符合人的需要和兴趣的活动，就容易提高人活动的积极性，使人轻松愉快地从事某种活动。兴趣对活动的作用一般有三种情况，即对未来活动的准备作用、对正在进行的活动的推动作用、对活动的创造性态度的促进作用。
            </div>
        </div>
    </div>
    <!--  -->


    <!-- 页脚 -->
    <div class="foot">
        <div class="foot_ c clear">
            <dl>
                <dt></dt>
                <dd>&copy; 2024 Gnnu QQH</dd>
                <dd>隐私政策</dd>
                <dd>服务条款</dd>
                <dd>联系信息：2664856683@qq.com</dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#">返回顶部</a></dd>
                <dd>技术支持</dd>
                <dd>帮助</dd>
                <dd>反馈与建议</dd>
            </dl>
        </div>
    </div>

    <script src=""></script>
</body>

</html>