.video {
    float: left;
    width: 960px;
    margin: 40px 0px;
    margin-left: 150px;
}

img {
    display: inline-block;
    margin: 0;
    position: relative;
    float: left;
}

.imgs {
    margin-left: 90px;
    border-left: 3px dashed #000;
    border-right: 3px dashed #000;
}

.left,
.right,
.center {
    width: 320px;
    float: left;

    img {
        width: 100%;
    }
}

.content {
    margin-left: 100px;
}