<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <base href="../../../../src/">
    <link rel="stylesheet" href="style/base.css">
    <link rel="shortcut icon" href="assets/main/图标.ico" />
    <title>QQHde博客</title>
    <style>
    </style>
</head>

<body>
    <!-- 头部 -->
    <div class="head c">
        <div class="c">
            <div class="head_l">
                <li><a href="../index.html"><img src="assets/main/home.png" alt="" width="30px">首页</a></li>
                <!-- &nbsp;&gt;<a href="views/education/education.html"><small>教育经历</small></a> -->
            </div>
            <div class="head_c">
                <h1>QQH <span>de</span> 博客</h1>
            </div>
            <div class="head_r">
                <img src="assets/main/user.png" alt="" width="30px" height="30px">
                <ul>
                    <li><a href="">登录</a></li>
                    <li><a href="">注册</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 页面主要区域 开始 -->
    <div id="index_main" class="c">
        <!-- 导航 -->
        <div class="nav">
            <a href=""><img src="assets/main/sign.JPG" alt="" id="sign"></a>
            <div class="nav_main">
                <ul>
                    <li><a href="views/myhomeland/myhomeland.html">我的家乡</a></li>
                    <li><a href="views/myhomeland/landscape/landscape.html">家乡风景</a></li>
                    <li><a href="views/myhomeland/culture/culture.html">人文历史</a></li>
                    <li><a href="views/myhomeland/food/food.html">江南美食</a></li>
                    <li class="hove"><a href="views/myhomeland/furniture/furniture.html">家具</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="plate">
                <h2 style="text-align: center;">南康家具</h2>
                <a href="http://www.nkjx.gov.cn/nkqrmzf/c104116/202304/9c89fa53785c4763a5ee3a283426fc16.shtml"
                    target="_blank"><small>详情查看</small></a>
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;江西省第十五次党代会提出，推动赣州打造具有全球影响力的家居制造之都，南康家具再一次受到举国关注。让我们好奇的是，林木资源贫乏的南康，却孕育出一个产值数千亿元的家具产业。南康家具为什么能够“无中生有”，这个产业奇迹是如何产生的？今天《档案里的赣州》，就让我们一起去探寻南康家具“无中生有”背后的故事。
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;南康，位于江西省南部，赣州市中部，是中国的实木家居之都。据《中国经济周刊》报道，2020年，世界上70%的橡胶木在南康消耗。2021年，南康家具总产值达2270亿元，是目前赣州市最具特色、规模最大的产业集群，南康成为全球最大的家具生产制造基地。
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;南康自古多木客。历史上，南康资源贫乏，经济发展落后，在漫长的发展中，做木匠、打家具成为南康人的一大谋生手段。《南康市志》记载，1986年，全县有8家乡镇家具企业，从业人数近200人，年产值200万元。
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;南康家具产业的诞生，与其说是经济体制改革的尝试，不如说是人在思想观念上的革新。解放了思想的南康人，冒着“敢为天下先”的风险，大胆试，大胆闯，这才有了后来南康家具的繁荣发展。
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在赣州市委市政府的强力推动下，南康着力推进家具全产业链数字化升级，综合运用“5G+人工智能+区块链+工业互联网”建设家具产业智联网，打造“家具消费—家具设计—木材采购—备料加工—生产组装—打磨喷涂—物流运输”的全产业链生态系统，奋力打造具有全球影响力的家居制造之都。随着格力电器、美克美家、大自然家居和居然之家等国内知名企业纷纷落户南康，南康家具正在实现从南康制造到中国智造的飞跃.
            </div>
            <img src="assets/myhomeland/furniture.jpg" alt="" width="200px">
            <img src="assets/myhomeland/furniture1.jpg" alt="" width="280px">
            <img src="assets/myhomeland/furniture2.jpg" alt="" width="280px">
            <img src="assets/myhomeland/furniture3.jpg" alt="" width="280px">
            <img src="assets/myhomeland/furniture4.jpg" alt="" width="280px">
            <img src="assets/myhomeland/furniture5.jpg" alt="" width="280px">
            <img src="assets/myhomeland/furniture1.png" alt="" width="300px">
            <img src="assets/myhomeland/furniture2.png" alt="" width="280px">
            <img src="assets/myhomeland/furniture3.png" alt="" width="200px">
        </div>
    </div>
    <!--  -->


    <!-- 页脚 -->
    <div class="foot">
        <div class="foot_ c clear">
            <dl>
                <dt></dt>
                <dd>&copy; 2024 Gnnu QQH</dd>
                <dd>隐私政策</dd>
                <dd>服务条款</dd>
                <dd>联系信息：2664856683@qq.com</dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#">返回顶部</a></dd>
                <dd>技术支持</dd>
                <dd>帮助</dd>
                <dd>反馈与建议</dd>
            </dl>
        </div>
    </div>

    <script src=""></script>
</body>

</html>