<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <base href="../../../../src/">
    <link rel="stylesheet" href="style/base.css">
    <link rel="shortcut icon" href="assets/main/图标.ico" />
    <title>QQHde博客</title>
    <style>
    </style>
</head>

<body>
    <!-- 头部 -->
    <div class="head c">
        <div class="c">
            <div class="head_l">
                <li><a href="../index.html"><img src="assets/main/home.png" alt="" width="30px">首页</a></li>
                <!-- &nbsp;&gt;<a href="views/education/education.html"><small>教育经历</small></a> -->
            </div>
            <div class="head_c">
                <h1>QQH <span>de</span> 博客</h1>
            </div>
            <div class="head_r">
                <img src="assets/main/user.png" alt="" width="30px" height="30px">
                <ul>
                    <li><a href="">登录</a></li>
                    <li><a href="">注册</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 页面主要区域 开始 -->
    <div id="index_main" class="c">
        <!-- 导航 -->
        <div class="nav">
            <a href=""><img src="assets/main/sign.JPG" alt="" id="sign"></a>
            <div class="nav_main">
                <ul>
                    <li><a href="views/myhomeland/myhomeland.html">我的家乡</a></li>
                    <li><a href="views/myhomeland/landscape/landscape.html">家乡风景</a></li>
                    <li class="hove"><a href="views/myhomeland/culture/culture.html">人文历史</a></li>
                    <li><a href="views/myhomeland/food/food.html">江南美食</a></li>
                    <li><a href="views/myhomeland/furniture/furniture.html">家具</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            名人出赣州<br>

            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;要说这与赣州有紧密关系的名人，从古至今还真不少：诗人孟浩然曾足履诗迹于古城;周敦颐在赣州首开讲学之风，与弟子程颢、程颐奠定理学根基，影响深远;文天详曾任赣州知州，在此组织新军抗元等等，不过这些“大人物”与赣州的关系还算“一般”，下面的这些才算是真正的“赣州名人”。


            <br><br>通天岩上的苏东坡雕像

            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;苏轼曾先后两次逗留虔州(赣州)，结交当地志行高洁名士，留下诸多诗文题咏和珍贵画迹及风雅韵事。公元1078年，苏轼应曾在赣州当过知州的老友孔宗翰之请，在并未亲至赣州的情况下为《八境图》题诗八首，即《南康八境图八首》(当时虔州属于南康郡)。公元1094年，苏轼被贬谪岭南惠州，后再贬海南，同年九月第一次踏进赣州城，时值荷花正盛的季节，繁花似锦的景色让他大为感叹，称“前诗未道出万一”。

            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7年后的1101年，遇赦后的苏轼从岭南北归时，一路吟诗作画——在梅关为梅岭老人咏诗，在南康为蕉溪茶、独秀峰咏诗，在通天岩为隐居名贤阳孝本咏诗，在天竺山作诗凭吊白居易。这回他来到虔州终于放开情怀，游遍八景后，为八景中的郁孤台、尘外亭又写新诗，其中最著名的句子就是《郁孤台》中的“山为翠浪涌，水作玉虹流”。

            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当今，在赣州老城区，已有用苏轼号东坡命名的东坡路(西起宗翰路，东止于廉泉路)，且赣南客家名人公园中亦有苏轼雕塑像及文字介绍，以纪念这位著文创作赣州乃至世界第一个八景文化的伟大文豪。


            <br><br>辛弃疾

            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别的不用多说，只那一句“郁孤台下清江水，中间多少行人泪”便足以流传千古……小编小时候真不知道郁孤台原来就在赣州(小编是兴国人)，来赣州游玩时候偶然发现这个事实，才知道原来这位爱国词人辛弃疾也曾在我们脚下的这片土地走过，那种感觉真的很奇妙!


            <br><br>王阳明

            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;王阳明与赣州渊源深厚，曾巡抚赣南，并在多地筑室讲学，最终病逝于大余县境内舟中。赣南可谓王阳明心学成就的升华地、知行结合的实践地，至今仍保留着很多王阳明的遗迹、遗物、遗作。此外，赣南客家文化的形成也与王阳明有很大关系，正是他的讲学、办学等举措，使此前相对闭塞和落后的赣南文化发展到了一个新的阶段。

            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;还有小炒鱼的故事。传说王阳明任巡抚时，家中厨师得知其爱吃鱼，为显示自己的烹饪技艺，便经常变换鱼的做法和口味，深得王阳明赏识。有一次，厨师在炒鱼时放了一些醋，别具风味，王阳明吃后十分高兴，便询问这道菜叫什么，厨师心想，是小酒(赣州人称醋为小酒)炒鱼，何不称其为小炒鱼呢?“赣南小炒鱼”因此得名。


            <br><br>蒋经国

            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1939年到1944年，全国奋力抗战之际，蒋经国主政赣南，他在此地大刀阔斧查禁烟赌娼，修明吏治，发展经济，兴办教育……蒋氏的“赣南新政”广受赞誉，甚至有人认为蒋经国后来治理台湾用的就是“赣南新政”的经验。

            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;蒋经国在赣南六年主持工作，那些具体的政治影响人们已较少关注，但城西郁孤台上那间紧挨古城墙的凸字形仿俄式建筑——花园塘1号(蒋经国故居)却是各地游客频频探访的地方。


            <br><br>南市街出来的南宋状元——池梦鲤

            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;池梦鲤（1224-1279），字德华，出生于赣州城南市街，后居七里镇。

            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《资本论》中文全译本的第一个译者——郭大力

            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;郭大力（1905-1976），南康三江乡斜角村人。

            <br><br>陆游最敬重的老师——曾几

            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;曾几（1084-1166），字吉甫 ，又志甫，号茶山居士。虔州人，后迁居河南府（今洛阳）。

            <br><br>与苏东坡秉烛夜话的——阳孝本

            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;阳孝本（1039-1122），字行先，北宋虔州赣县府（今赣州市）人。

            <br><br>一代名相寇准的举荐者—陈恕

            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;陈恕（945年-1004），字仲言，北宋石城人，《宋史》载为南昌人。

            <br><br>;客家先贤——李宜青

            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;李宜青（1711-1790），字荆山，宁都琳池人，唐由陇西迁徙入赣，李姓先祖李子鱼的裔孙。

            <br><br>戊戌变法的重要理论家——陈炽

            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;陈炽（1855-1900），原名家谣，曾用名喜炽，字克昌，号次亮，又号瑶林馆主。清咸丰五年生于瑞金瑞林乡塘横背。

            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;清初誉满全国的散文家——魏禧

            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;魏禧（1624年-1681），字冰叔，号叔子，又号裕斋。宁都县城关人，著名的散文家，与汪琬、侯方域并称为“清初三家”。

            <br><br>“血溅朝衣”的一代豪杰——黄德温

            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;黄德温（生卒不详），字伯里，信丰县人。他从小读书，明正统六年（公元1441年）辛酋参加乡试，中为举人。正统十六年（公元1448年）
            戊辰，中进士。

        </div>
    </div>
    <!--  -->


    <!-- 页脚 -->
    <div class="foot">
        <div class="foot_ c clear">
            <dl>
                <dt></dt>
                <dd>&copy; 2024 Gnnu QQH</dd>
                <dd>隐私政策</dd>
                <dd>服务条款</dd>
                <dd>联系信息：2664856683@qq.com</dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#">返回顶部</a></dd>
                <dd>技术支持</dd>
                <dd>帮助</dd>
                <dd>反馈与建议</dd>
            </dl>
        </div>
    </div>

</body>

</html>