<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <base href="../../../src/">
    <link rel="stylesheet" href="style/base.css">
    <link rel="stylesheet" href="style/myhomeland/homeland.css">
    <link rel="shortcut icon" href="assets/main/图标.ico" />
    <title>QQHde博客</title>
    <style>
    </style>
</head>

<body>
    <!-- 头部 -->
    <div class="head c">
        <div class="c">
            <div class="head_l">
                <li><a href="../index.html"><img src="assets/main/home.png" alt="" width="30px">首页</a></li>
                <!-- &nbsp;&gt;<a href="views/education/education.html"><small>教育经历</small></a> -->
            </div>
            <div class="head_c">
                <h1>QQH <span>de</span> 博客</h1>
            </div>
            <div class="head_r">
                <img src="assets/main/user.png" alt="" width="30px" height="30px">
                <ul>
                    <li><a href="">登录</a></li>
                    <li><a href="">注册</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 页面主要区域 开始 -->
    <div id="index_main" class="c">
        <!-- 导航 -->
        <div class="nav">
            <a href=""><img src="assets/main/sign.JPG" alt="" id="sign"></a>
            <div class="nav_main">
                <ul>
                    <li class="hove"><a href="views/myhomeland/myhomeland.html">我的家乡</a></li>
                    <li><a href="views/myhomeland/landscape/landscape.html">家乡风景</a></li>
                    <li><a href="views/myhomeland/culture/culture.html">人文历史</a></li>
                    <li><a href="views/myhomeland/food/food.html">江南美食</a></li>
                    <li><a href="views/myhomeland/furniture/furniture.html">家具</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
        </div>
    </div>
    <!--  -->

    <div class="content">
        <div class="fl clear"
            style="border-color: bisque; margin-top: 50px; margin-left: 30px;width: 500px;float: left;">
            <h2 style="font-size: 25px; text-align: center;">赣州</h2>
            <img src="assets/myhomeland/ganzhou.jpg" alt="" width="288px">
            <div style="float: left;">赣州市，简称“虔”，别称“虔城”、“赣南” [129]，是江西省地级市，省域副中心城市、Ⅱ型大城市，三线城市
                ，位于江西省南部，地处中亚热带南缘，属亚热带丘陵山区湿润季风气候，地形以山地、丘陵、盆地为主，章江、贡江在赣州合流为赣江，总面积39379.64平方千米。
                截至2022年10月，全市辖3个市辖区、13个县，代管2个县级市。截至2022年底，全市常住人口898.81万人。
                <img src="assets/myhomeland/ganzhou1.jpg" alt="" width="288px">
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1998年12月，赣州地区撤地改市。赣州市是“一带一路”重要节点城市 、全国性综合交通枢纽
                、赣粤闽湘四省通衢的区域性现代化中心城市，是革命老区、原中央苏区振兴发展示范区、红色文化传承创新区
                ，国务院支持赣州振兴发展纳入国家重大区域战略。赣州市是江西省保存文物古迹，尤其宋代文物最多的一座滨水城市，有“江南宋城”之誉
                ，是客家先民中原南迁的第一站，是客家民系的发祥地和客家人的主要聚居地之一，全市客家人口占90%以上，世称“客家摇篮”
                ，仍有600余幢客家围屋，被称为“东方的古罗马”，被命名为“国家历史文化名城”、“中国优秀旅游城市”，形成了“红色故都、客家摇篮、江南宋城、生态家园、世界橙乡、堪舆圣地”六大旅游品牌。市境内有瑞金共和国摇篮景区、三百山风景名胜区等景点。

            </div>
            <div style="float: left;">
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2023年，赣州市生产总值4606.2亿元，按不变价格计算，比上年增长5.3%。其中，第一产业增加值456.7亿元，增长5.1%；第二产业增加值1804.2亿元，增长8.8%；第三产业增加值2345.3亿元，增长2.8%。

            </div>
        </div>
        <div class="r-headbox">
            <div class="box" id="box">
                <div class="r-hbox1">
                    <p><i><b>赣县</b></i></p>
                    <div>

                        <img src="assets/myhomeland/download.jpg">
                    </div>
                    <div>
                        赣县区位于江西省南部，赣州市中部，赣江上游，东邻于都县、安远县，南接信丰县，西连章贡区、南康区，北与兴国县、吉安市万安县接壤。总面积2993.09平方千米，占赣州市总面积的7.6%，占江西省总面积的1.8%。赣县区是江西最早建县的18个古县之一，历史悠久，拥有2200多年的历史。赣县区因《山海经》所记“南方有赣巨人”而得
                    </div>
                </div>
                <div class="r-hbox2">
                    <div><img src="assets/myhomeland/2.jpg"></div>
                    <div>
                        名“赣县”，境内风景优美，被誉为“客家摇篮”、“千里赣江第一县”、“中国板鸭之乡”。赣县区历史悠久，是江西最早建县的18古县之一，境内至今还保有汉朝契真寺、晋朝储君庙、唐朝宝华寺等众多历史名胜古迹。
                    </div>
                </div>
                <div style="height: 410px;width:100%;"></div>
                <div style="font-size: 25px;font-family: 楷体;width: 80%;">
                    同时，赣县区还是世界客家文化、东河戏的发祥地之一，白鹭古村远近闻名，建有江西客家博物院，是江西省第一座全方位展示客家民俗文化的专题博物院。

                    此外，赣县区还是中央苏区的全红县和核心县份之一，走出了8位共和国将军，是开国上将赖传珠的故乡。赣县区在20世纪20年代初到1949年8月14日赣县解放期间，为中国革命胜利和新中国建立作出巨大牺牲和重大贡献。

                    <img src="assets/myhomeland/smallhometone.png" alt="" width="60%">
                </div>
            </div>
        </div>
    </div>
    <!-- 页脚 -->
    <div class="foot">
        <div class="foot_ c clear">
            <dl>
                <dt></dt>
                <dd>&copy; 2024 Gnnu QQH</dd>
                <dd>隐私政策</dd>
                <dd>服务条款</dd>
                <dd>联系信息：2664856683@qq.com</dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#">返回顶部</a></dd>
                <dd>技术支持</dd>
                <dd>帮助</dd>
                <dd>反馈与建议</dd>
            </dl>
        </div>
    </div>

    <script src=""></script>
</body>

</html>