<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <base href="../../../src/">
    <link rel="stylesheet" href="style/base.css">
    <link rel="stylesheet" href="style/myfriends/myfriends.css">
    <link rel="shortcut icon" href="assets/main/图标.ico" />
    <title>QQHde博客</title>
    <style>
    </style>
</head>

<body>
    <!-- 头部 -->
    <div class="head c">
        <div class="c">
            <div class="head_l">
                <li><a href="../index.html"><img src="assets/main/home.png" alt="" width="30px">首页</a></li>
                <!-- &nbsp;&gt;<a href="views/education/education.html"><small>教育经历</small></a> -->
            </div>
            <div class="head_c">
                <h1>QQH <span>de</span> 博客</h1>
            </div>
            <div class="head_r">
                <img src="assets/main/user.png" alt="" width="30px" height="30px">
                <ul>
                    <li><a href="">登录</a></li>
                    <li><a href="">注册</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 页面主要区域 开始 -->
    <div id="index_main" class="c">
        <!-- 导航 -->
        <div class="nav">
            <a href=""><img src="assets/main/sign.JPG" alt="" id="sign"></a>
            <div class="nav_main">
                <ul>
                    <li class="hove"><a href="views/myfriends/myfriends.html">朋友</a></li>
                    <li><a href="views/updating.html">我的朋友</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="one">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;有喜好相近的朋友真是太好了，不管吃喝，旅行，她说好，就可以开始一场不会落空的期待，捕捉生活乐趣的网就大很多。
            </div>
            <div class="two">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;朋友，就是感情很好，有共同语言而经常交流，相处起来很舒服，双方有时间就相约在一起而聚一聚。除情人或亲属之外彼此有交情的人，其最高境界是知己。
            </div>
            <div class="three">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在儒家的“五伦”体系中，“朋友”一伦的特殊性在于，它是唯一建立在相对平等的人际关系之上的伦常，其余四伦都隐含着主从相对的秩序。朋友关系的平等性决定了朋友之间的交往模式。孔子曾这样区分朋友与兄弟之间的相处模式：“朋友切切偲偲，兄弟怡怡。”兄弟之间相处，由于双方存在血缘关系与长幼秩序，故而以维护“兄友弟恭”的伦理规范为目的。而朋友之间的交往更强调互相切磋和敦促的重要性，维护情感不是首要目的，互相勉励进步以向善才是终极目标。需要注意的是，朋友之间的“平等”并不是指社会地位等外在条件的对等，而更接近于德行上的相互认同。
            </div>
        </div>
    </div>
    <!--  -->


    <!-- 页脚 -->
    <div class="foot">
        <div class="foot_ c clear">
            <dl>
                <dt></dt>
                <dd>&copy; 2024 Gnnu QQH</dd>
                <dd>隐私政策</dd>
                <dd>服务条款</dd>
                <dd>联系信息：2664856683@qq.com</dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#">返回顶部</a></dd>
                <dd>技术支持</dd>
                <dd>帮助</dd>
                <dd>反馈与建议</dd>
            </dl>
        </div>
    </div>

    <script src=""></script>
</body>

</html>