<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <base href="../../../../src/">
    <link rel="stylesheet" href="style/base.css">
    <link rel="stylesheet" href="style/myhobbise/reading.css">
    <link rel="shortcut icon" href="assets/main/图标.ico" />
    <title>QQHde博客</title>
    <style>
    </style>
</head>

<body>
    <!-- 头部 -->
    <div class="head c">
        <div class="c">
            <div class="head_l">
                <li><a href="../index.html"><a href="../index.html"><img src="assets/main/home.png" alt=""
                                width="30px">首页</a></li>
                <!-- &nbsp;&gt;<a href="views/education/education.html"><small>教育经历</small></a> -->
            </div>
            <div class="head_c">
                <h1>QQH <span>de</span> 博客</h1>
            </div>
            <div class="head_r">
                <img src="assets/main/user.png" alt="" width="30px" height="30px">
                <ul>
                    <li><a href="">登录</a></li>
                    <li><a href="">注册</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 页面主要区域 开始 -->
    <div id="index_main" class="c">
        <!-- 导航 -->
        <div class="nav">
            <a href=""><img src="assets/main/sign.JPG" alt="" id="sign"></a>
            <div class="nav_main">
                <ul>
                    <li><a href="views/myhobbise/hobbise.html">兴趣爱好</a></li>
                    <li class="hove"><a href="views/myhobbise/reading/reading.html">阅读</a></li>
                    <li><a href="views/myhobbise/climb/climb.html">爬山</a></li>
                    <li><a href="views/myhobbise/badminton/badminton.html">羽毛球</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="plate">
                <img src="assets/myhobbise/sdmz1.webp" alt="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《西游记》是中国古代第一部浪漫主义章回体长篇神魔小说。最早的版本是明代万历二十年金陵世德堂《新刻出像官板大字西游记》，未署作者姓名。
                根据《淮安府志》“吴承恩《西游记》”的记载予以最终论定“吴承恩原著”
                <br>
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宁恋本乡一捻土，莫爱他乡万两金。
            </div>
            <div class="plate">
                <img src="assets/myhobbise/sdmz2.webp" alt="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《红楼梦》是一部具有世界影响力的人情小说、中国封建社会的百科全书、传统文化的集大成者。其作者以“大旨谈情，实录其事”自勉，只按自己的事体情理，按迹循踪，摆脱旧套，新鲜别致，取得了非凡的艺术成就。
                <br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;世事洞明皆学问，人情练达即文章。
            </div>
            <div class="plate">
                <img src="assets/myhobbise/sdmz3.webp" alt="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《三国演义》是中国文学史上第一部章回小说，是历史演义小说的开山之作，也是一部人文长篇小说，明清时期甚至有“第一才子书”之称。
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大丈夫生居天地间，岂能郁郁久居人下！
            </div>
            <div class="plate">
                <img src="assets/myhobbise/sdmz4.webp" alt="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《水浒传》是中国古典四大名著之一，问世后，在社会上产生了巨大的影响，成为后世中国小说创作的典范。《水浒传》是中国历史上最早用白话文写成的章回小说，流传极广，脍炙人口.
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;他时若随凌云志,敢笑黄巢不丈夫!
            </div>
        </div>
    </div>
    <!--  -->


    <!-- 页脚 -->
    <div class="foot">
        <div class="foot_ c clear">
            <dl>
                <dt></dt>
                <dd>&copy; 2024 Gnnu QQH</dd>
                <dd>隐私政策</dd>
                <dd>服务条款</dd>
                <dd>联系信息：2664856683@qq.com</dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#">返回顶部</a></dd>
                <dd>技术支持</dd>
                <dd>帮助</dd>
                <dd>反馈与建议</dd>
            </dl>
        </div>
    </div>

    <script src=""></script>
</body>

</html>